.wrapper {
	margin-right: 42%;
}

body {
	background-image: url(https://i.imgur.com/0azf5aU.jpg?1);
	background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h1 {
	font-family: 'Lily Script One', cursive;
	text-align: center;
}

.container {
	background-color: white;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    opacity: .7;
    border-radius: 25px;
}

.topButtons {
	margin: auto;
	vertical-align: default;
}

.sideForm {
	font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-left: 35%;
    margin-right: 34%;
    padding: 4px;
    padding-left: 1%;
    opacity: .7;
    border-radius: 25px;
}

#add-food {
	font-family: 'Roboto', sans-serif;
	margin-left: 35%;
}

#food-input {
	border-radius: 25px;
	margin-left: 17%;

}

p {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    padding-top: 2%;
    margin-right: 50%;
}

#foodGifs {
    background-color: white;
    border-radius: 25px;
    margin-right: 25%;
}

img {
    padding-left: 10%;
    width: 80%;
}